body{
	padding: 2px;
	background: rgba(5,77,97,1);
	background: -moz-linear-gradient(-45deg, rgba(5,77,97,1) 0%, rgba(7,68,85,1) 41%, rgba(0,0,15,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,77,97,1)), color-stop(41%, rgba(7,68,85,1)), color-stop(100%, rgba(0,0,15,1)));
	background: -webkit-linear-gradient(-45deg, rgba(5,77,97,1) 0%, rgba(7,68,85,1) 41%, rgba(0,0,15,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(5,77,97,1) 0%, rgba(7,68,85,1) 41%, rgba(0,0,15,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(5,77,97,1) 0%, rgba(7,68,85,1) 41%, rgba(0,0,15,1) 100%);
	background: linear-gradient(135deg, rgba(5,77,97,1) 0%, rgba(7,68,85,1) 41%, rgba(0,0,15,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054d61', endColorstr='#00000f', GradientType=1 );

}
.marksheet{
	width: 55%;
	height: 60%;
}